<div id="<%= dom_id language %>">
  <p>
    <strong>Name:</strong>
    <%= language.name %>
  </p>

  <p>
    <strong>Iso3:</strong>
    <%= language.iso3 %>
  </p>

  <p>
    <strong>French name:</strong>
    <%= language.french_name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= language.code %>
  </p>

</div>
