<div class="col-lg-6 mx-auto my-3">
  <div class="text-secondary mb-5">
    <h3><%= t('training_sessions.order_summary.title') %></h3>
    <div class="d-flex justify-content-between fw-bold">
      <span><%= ticket_type(@transaction.product_configuration) %></span>
      <span><%= @transaction.after_tax_price.format %> <%= t("invoice.vat_included") %></span>
    </div>
    <%= @transaction.user.fullname %> (<%= @transaction.user.email %>)
  </div>

  <h3><%= t('stripe_rails.title') %></h3>
  <div class="border border-success text-success rounded-3 mb-4 px-3 py-2">
    <%= fa_icon("lock", text: t('stripe_rails.secured_transaction')) %>
  </div>

  <div id="payment-message" class="alert alert-warning d-none"></div>

  <!-- Display a payment form -->
  <form id="payment_form" data-locale="<%= @language %>">
    <%= hidden_field_tag :transaction_id, @transaction.id %>
    <%= hidden_field_tag :language, @language %>

    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>
    <div class="text-center my-3">
      <%= fa_icon('spinner', animation: 'spin', size: "2x", id: "loading_spinner") %>
    </div>

    <div class="d-flex justify-content-around">
      <%= link_to t('cancel'),"#cancelParticipationModal", data: { bs_toggle: "modal", bs_target: "#cancelParticipationModal"}, id: "cancel_btn", class: "mt-3 fw-bold link-secondary text-decoration-none d-none" %>
      <button id="submit" class="btn btn-primary rounded-pill mt-3 d-none">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text"><%= t('stripe_rails.submit_button_text') %></span>
      </button>
    </div>

  </form>
</div>
<div id="stripe_public_key" data-stripe_public_key="<%= @stripe_public_key %>"></div>
