<div id="<%= dom_id country %>">
  <p>
    <strong>Name:</strong>
    <%= country.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= country.code %>
  </p>

  <p>
    <strong>Currency name:</strong>
    <%= country.currency_name %>
  </p>

  <p>
    <strong>Currency code:</strong>
    <%= country.currency_code %>
  </p>

  <p>
    <strong>External:</strong>
    <%= country.external_id %>
  </p>

  <p>
    <strong>Tax rate:</strong>
    <%= country.tax_rate %>
  </p>

</div>
